Write a couple Ansible variables which are not going to change during the run of this Playbook.

ansible_version: {{ ansible_version }}
ansible_check_mode: {{ ansible_check_mode }}
ansible_verbosity: {{ ansible_verbosity }}
